.card {
  padding: 20px;
  margin: 20px;
  background: #333;
  border-radius: 10px;
  color: white;
}

.small-card {
  max-width: 400px;
  margin: auto;
}

.inline-fields {
  display: flex;
  align-items: center;
}

.inline-fields .dropdown-container,
.inline-fields input[type="number"],
.inline-fields span {
  margin-left: 10px;
}

.form-group {
  margin-bottom: 15px;
}

form button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

#amount {
  flex: 1;
  width: 80px;
}

.dropdown-container {
  display: inline-block;
  flex: 1;
  width: 160px;
}

#interval {
  flex: 0 0 50px;
  margin-right: 10px;
  text-align: center;
}

#num-orders {
  flex: 0 0 50px;
  margin-right: 10px;
  text-align: center;
}

#frequency {
  width: auto;
  min-width: 100px;
}

select {
  background-color: #444;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

input[type="number"] {
  background-color: #444;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

/* Light Mode Specific Styles */
body.light .card {
  background: linear-gradient(135deg, #1de9b6, #8e24aa) !important;
  color: black; /* Ensure text is readable on the new background */
}

body.light select,
body.light input[type="number"] {
  background: linear-gradient(135deg, #1de9b6, #8e24aa) !important;
  color: black; /* Ensure text is readable on the new background */
  border: 1px solid #cccccc; /* Lighter border for better visibility */
}
