# General patterns
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
FlameGraph/
WSL2-Linux-Kernel/
perf.data
perf.data.old
flamegraph.svg

# Environment files
.env

# Keypair files
*.keypair.json

# Log files
*.log
build_log.txt
deploy_log.txt
my_dex_project-keypair.json
target/deploy/my_dex_project-keypair.json
new_solana_dex_project/my_dex_project-keypair.json
.env
